.feed{
    border: 1px solid blue;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    .containerFeed{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        padding-top: 665px;
        padding-bottom: 40px;
        margin-left: 200px;
        overflow-y: auto;
        height: 90vh;
        scrollbar-width: thin;
        scrollbar-color: #c7c7c7 transparent;
    }
}