.containerFeed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding-top: 45px;
    margin-left: 200px;


    .cardPost{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        width: 80%;
        padding: 22px 20px;
        border-radius: 8px;

        .cardPostTitle{
            display: flex;
            justify-content: space-between;
        }
        .cardPostDescription{
            margin: 12px 0px;
        }
    }
}